body ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
header {
  border-bottom: 2px solid black;
  padding: 15px 0px;
}
#header-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  max-width: 1000px;
  margin: auto;
}

header ul {
  display: flex;
  flex-wrap: wrap;
}

header ul li a {
  display: flex;
  padding: 10px 15px;
  background: black;
  margin: 30px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  display: block;
  text-align: center;
}
header ul li a:hover {
  background: grey;
}
#logo img {
  max-width: 200px;
}

/*
content styles
*/

#content-wrap {
  display: flex;
  flex-wrap: wrap;
}

#content {
  width: 70%;
  padding: 15px 15px 0 0;
  flex-wrap: wrap;
  
}

#sidebar {
  width: 30%;
  flex-wrap: wrap;
  padding: 15px 0 15px 15px;
}
#content, #sidebar {
  /* padding: 15px; */
  box-sizing: border-box;
}
.border {
  box-shadow: 0 0 3px 2px black;
  padding: 15px;
  min-height: 600px;
}


 #gallery{
     display: flex;
     flex-wrap: wrap;
     
 }
 #gallery .article {
     width: 50%;     
 }
 #gallery img {
     max-width: 100%;
     
 }
 #gallery .article-wrap{
     margin: 15px;
     padding: 10px;
     box-shadow: 0 0 6px 3px black;
     text-align: center;
    
 }
 #gallery .article-wrap h4{
     margin: 0px;
     text-transform: uppercase;
     font-size: 22px;
     

 }





@media (max-width: 987px) {
  header ul {
    max-width: 100%;
  }
  header ul li,
  #logo {
    width: 100%;
    text-align: center;
  }
  header ul li a {
    width: 100%;
    text-align: center;
  }
}
